<header class="header">
    <div class="header__inner">
      <div class="header__logo">
        {{ partial "logo.html" . }}
      </div>
      {{ if len $.Site.Menus }}
        <div class="menu-trigger">menu</div>
      {{ end }}
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "menu.html" . }}
    {{ end }}
</header>

<div style="display: flex;">

    <a href="https://twitter.com/MrCatid" target="_blank">
        <img src="https://www.catid.io/img/twitter.png" alt="Twitter" style="width:32px;margin:10px;">
    </a>

    <a href="https://github.com/catid" target="_blank">
        <img src="https://www.catid.io/img/github.png" alt="GitHub" style="width:32px;margin:10px;">
    </a>

    <a href="https://www.youtube.com/channel/UChp5dJk1m-rOKXeCfb8gGxA/videos" target="_blank">
        <img src="https://www.catid.io/img/youtube.png" alt="YouTube" style="width:32px;margin:10px;">
    </a>

</div>
