<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
  <div class="logo">
    {{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}Terminal{{ end }}
  </div>
</a>

  <div class="logo">
<a href="https://twitter.com/MrCatid" target="_blank">
    <img src="twitter.svg" alt="Twitter" style="width:24px;height:24px;margin-right:10px;">
</a>

<a href="https://github.com/catid" target="_blank">
    <img src="github.png" alt="GitHub" style="width:24px;height:24px;margin-right:20px;">
</a>
</div>
